
* {
	color: black;
	font-family: "Ubuntu", "Arial";
}

QWidget#Launcher_Main {
    padding: 10px;
}

QWidget#Launcher_Main QLabel, QPushButton, QLineEdit {
    font-size: 18px;
}

QListWidget#Launcher_RecentList {
    font-size: 16px;
}

QListWidget#Launcher_RecentList::item {
    margin: 8px;
}